<html>
  <head>
    <title>Nest Quest: Find a Place</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2441406a2d.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"
    ></script>
    
    {{#each jsscripts}}
      <script src="/static/{{this}}"></script>
    {{/each}}

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="header-title"><a class="whitelink" href="/"><iclass="fa-solid"></i>Nest Quest: Find a Place</a></header>

    <!-- Navbar Handlebar -->
    <div class="topnav">
      <ul class="nonindex">
        <li class="nonhome"><a href="/">Home</a></li>
        <li class="nonhome"><a href="/users">Users</a></li>
        <li class="nonhome"><a href="/seekers">Seekers</a></li>
        <li class="nonhome"><a href="/tenants_properties">Tenants and Properties</a></li>
        <li class="nonhome"><a href="/properties">Properties</a></li>
        <li class="nonhome"><a href="informationRequests">Information Requests</a></li>
        <li class="nonhome"><a href="/reviews">Reviews</a></li>
      </ul>
    </div>

    <div class="mainbody">
      {{{body}}}
    </div>
  </body>
</html>