<html>
  <head>
    <title>Nest Quest: Find a Place</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header class="header-title"><a class="home" href="/">Nest Quest: Find a Place</a></header>

    <!-- Navbar Handlebar -->
    <div class="navbar">
      <ul class="homepage">
        <li class="page"><a href="/">Home</a></li>
        <li class="page"><a href="/users">Users</a></li>
        <li class="page"><a href="/seekers">Seekers</a></li>
        <li class="page"><a href="/tenants_properties">Tenants and Properties</a></li>
        <li class="page"><a href="/properties">Properties</a></li>
        <li class="page"><a href="informationRequests">Information Requests</a></li>
        <li class="page"><a href="/reviews">Reviews</a></li>
      </ul>
    </div>

    <div class="mainbody">
      {{{body}}}
    </div>
  </body>
</html>