html{
    background-color:#cecccc;
    font-family: 'Roboto', sans-serif;
}

table, th, td {
    border: 1px solid black;
    background-color: #949393;
    border-width: 2px;
    border-color: black;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.mainbody{
    margin: 5px;
    display: inline-block;
}

.header-title {
    background: rgb(238, 135, 90);
    padding: 0.938rem;
    color: white;

    font-size: 1.563rem;
    font-weight: 400;
    cursor: default;
}

.whitelink{
    color: white;
    text-decoration: none;
}

.topnav {
    border-top: 0.188rem solid rgb(3, 0, 0);
}

.indexlink{
    margin: 5px;
}

ul.nonindex {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b4b4b;
}

li.page {
    float: left;
    color: white;
    font-size: 1rem;
}

li a {
    display: block;
    text-align: left;
    color: white;
    padding: 0.875rem 1rem;
    text-decoration: none;
}
