/* Eventually we'll add styling here */
table, th, td {
    border: 1px solid black;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.mainbody{
    margin: 5px;
}


.header-title {
    background: rgb(238, 135, 90);
    padding: 0.938rem;
    color: white;
    font-size: 1.563rem;
    font-weight: bold;
    cursor: default;
}

.topnav {
    border-top: 0.188rem solid rgb(3, 0, 0);
  }
.hidden{
    display: none;
}
.modal {
    position: fixed;
    z-index: 10;
    left: 25%;
    top: 25%;
    width: auto;
    height: auto;
    background-color: lightblue;
    border-style: solid;
    border-width: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 5px;
}